@font-face {
  font-family: "AmsiPro Regular";
  src: url("./fonts/amsipro/AmsiPro-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "AmsiPro Bold";
  src: url("./fonts/amsipro/AmsiPro-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "AmsiPro Black Italic";
  src: url("./fonts/amsipro/AmsiPro-BlackItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "AmsiPro Italic";
  src: url("./fonts/amsipro/AmsiPro-Italic.otf") format("opentype");
  font-display: swap;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  background-color: #f3f4f9;
  font-family: "AmsiPro Regular", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#areia {
  height: 70vh;
  background-size: contain, cover;
  background-position: right -160px, center;
  background-image: url(../img/guarda_sol.webp), url(../img/textura_areia.webp);
  background-repeat: no-repeat;
  border-bottom: 5px solid white;
}


#top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/guarda_sol.webp), url(../img/textura_areia.webp), url(../img/detalhe_fundo.webp), linear-gradient(180deg, rgba(255, 255, 255, 1) 305px, rgba(246, 224, 57, 1) 305px);
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 48%, 115% 300px, auto, auto;
  background-position: 120% -23vw, center top, center, center bottom;
}

#top .logo {
  justify-content: center;
  width: 160px;
  height: 125px;
  display: flex;
  align-items: center;
}

#top .logo img {
  width: 120px;
  filter: invert(1) brightness(9) contrast(9);
}

#logo-evento {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 250px;
  height: 250px;
  margin: 20px auto;
  border-style: ridge;
  border-color: transparent;
  border-spacing: 10px;
  background: #fff;
  background-image: url(../img/logo_maior.webp);
  border-radius: 50%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center 35%;
}

#logo-evento::after {
  display: block;
  width: 112%;
  height: 112%;
  content: '';
  margin: -6%;
  border: white 3px solid;
  border-radius: 50%;
}

#eventos {
  width: 100vw;
  display: flex;
  height: 350px;
  overflow-x: auto;
  padding: 0 10%;
}

#eventos img {
  max-height: 100%;
}

#mapas {
  width: 100vw;
  display: flex;
  overflow-x: auto;
  padding: 0 10%;
  gap: 20px;
  font-family: "AmsiPro Black Italic";
  color: #bb241b;
  height: 370px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(../img/bg_amarelo.webp);
  background-size: cover;
  box-shadow: 0px -6px 8px -3px rgb(0 0 0 / 53%);
}

#mapas .mapa {
  width: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#mapas .mapa .texto {
  font-size: 1.5rem;
  font-family: "AmsiPro Black Italic";
  text-align: center;
}

#mapas .mapa .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 7px solid #bb241b;
  border-radius: 50%;
}

#mapas .mapa .icon object {
  width: 60%;
}

.container {
  margin: 100px auto;
  width: 820px;
  max-width: 80%;
  height: fit-content;
}

#sobre {
  display: flex;
  flex-direction: column;
  gap: 80px;
  color: #404042;
}

#sobre .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

#sobre .info .titulo {
  font-size: 3rem;
  font-family: "AmsiPro Black Italic";
  text-align: center;
}

#sobre .logo {
  width: 100%;
  height: 50vh;
  background-image: url(../img/logo_maior.webp);
  background-size: contain;
  background-position: center;
}

#sobre .info a {
  font-size: 2rem;
  font-family: "AmsiPro Italic";
  text-align: center;
}

#sobre .info .texto {
  text-align: justify;
}

#localizacao {
  background-color: #1a6eab;
  height: 150px;
  background-image: url(../img/detalhe_fundo.webp);
  background-repeat: repeat;
}

#localizacao .texto {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.svg {
  color: yellow;
}

#localizacao .texto p {
  font-size: 2.5rem;
  font-family: "AmsiPro Black Italic";
  color: white;
}

#apoio {
  min-height: 200px;
  padding: 30px 0;
  gap: 60px;
  background-color: #af0039;
}

#apoio .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}

#apoio .realizacao,
#apoio .midia {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
  font-size: 1.3rem;
  font-family: "AmsiPro Italic";
  text-align: center;
  align-items: center;
}

#marca-dagua {
  width: 92px;
  height: 48px;
  align-self: flex-end;
  place-self: center;
  background-image: url(../img/logotype.png);
  background-color: #af0039;
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: auto;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f7e135;
  border-bottom: 8px solid #af0039;
  color: #af0039;
  justify-content: center;
  gap: 10px;
  font-size: 0.8em;
}

#bottom .container {
  display: flex;
  gap: 60px;
  margin: 50px auto;
  flex-direction: column;
}

#bottom .contatos,
#bottom .endereco {
  display: flex;
  gap: 30px;
}

#bottom .redes {
  display: flex;
  gap: 10px;
}

#bottom .redes .rede {
  background-color: #af0039;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: auto;
}

.twitter {
  background-image: url(../img/twitter.webp);
}

.facebook {
  background-image: url(../img/facebook.webp);
}

.youtube {
  background-image: url(../img/youtube.webp);
}

.instagram {
  background-image: url(../img/instagram.webp);
}

#bottom .copy {
  text-align: center;
}

#bottom .texto p:first-child {
  font-family: "AmsiPro Bold", sans-serif;
}

@media (max-width: 290px) {
  #areia {
    height: 62vh;
    background-position: right -115px, center;
  }

  #logo .preenchimento {
    height: 180px;
    width: 180px;
  }
}

@media (min-width: 640px) {
  #areia {
    height: 50vh;
    background-size: 1060px, cover;
    background-position: 1000px -455px, center;
  }

  #logo {
    margin-top: -20vh;
  }

  #logo .preenchimento {
    height: 350px;
    width: 350px;
    margin: 15px;
  }


}


@media (min-width: 768px) {
  #logo {
    margin-top: -25vh;
  }

  #logo .preenchimento {
    height: 512px;
    width: 512px;
    margin: 15px;
  }

  #eventos {
    justify-content: center;
  }

  #mapas {
    justify-content: center;
  }
}


@media (min-width: 1024px) {

  #sobre {
    height: 600px;
    flex-direction: row;
  }

  #sobre .info {
    width: 50%;
    height: 100%;
  }

  #sobre .logo {
    width: 50%;
    height: 100%;
  }

  #apoio .realizacao,
  #apoio .midia,
  #apoio .container,
  #bottom .container {
    flex-direction: row;
  }

}


@media (min-width: 1280px) {}


@media (min-width: 1536px) {
  #top {
    background-size: 45%, 115% 300px, auto, auto;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 2dppx) {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}